html, body {
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div#overlay {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    z-index: 99;
    display: none;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

div#main {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    overflow: hidden;
    display: none;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

div#notif {
    z-index: 99;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    background-color: #222;
    border: 2px solid hotpink;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -100px;
    right: 1%;
    transition: 300ms ease-in-out;
}

div#notif span {
    font-size: 12px;
}

input {
    outline: none;
    border: none;
    color: #fff;
    text-align: center;
    padding: 10px;
    background-color: transparent;
    border-bottom: 3px solid #fff;
}

input:focus::placeholder {
    opacity: 35%;

}

#main span, i {
    color: white;
    text-align: center;
    font-weight: bold;
    overflow-wrap: break-word;
}

button {
    width: 165px;
    height: 50px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    word-spacing: 7px;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    font-size: 15px;
    touch-action: manipulation;
}

button:disabled {
    cursor: not-allowed;
}

button:disabled {
    opacity: 75%;
}

button:disabled::before {
    animation-play-state: paused;
}

button::before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: rgb-button 35s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes rgb-button {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

button:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

/* Desktops and laptops */
@media only screen and (min-width: 992px) {
    span, i, input{
        font-size: 4vw;
        max-width: 70vw;
    }
}

/* Tablets */
@media only screen and (min-width: 768px) {
    span, i, input{
        font-size: 5vw;
        max-width: 70vw;
    }

    button {
        width: 160px;
        height: 50px;
    }

    div#main {
        height: 75%;
    }
}

/* Smartphones (portrait) */
@media only screen and (max-width : 768px) {
    span, i, input {
        font-size: 8.5vw;
        max-width: 80vw;
    }

    button {
        width: 140px;
        height: 50px;
    }

    div#main {
        height: 50%;
    }
}